* {
    padding: 0;
    margin: 0;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    color: var(--body-text-color);
}


/* BODY */

body {
    background-color: var(--body-background);
}


/* MISC */

button, input[type="submit"] {
    color: var(--button-text-color);
    font-weight: 500;
    background-color: var(--button-color);
    border: none;
    border-radius: 40px;
    padding: 8px;
    height: 50%;
    transition-property: color background-color;
    transition-duration: 0.25s;
}

button:hover, input[type="submit"]:hover {
    color: var(--body-background);
    background-color: var(--tag-color1);
}


@media screen and (min-width: 600px) {

    #desktop-nav {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}